        .spring1 {
          opacity: 0;
        }
        .spring1.active {
          transform: translateY(160px);
          opacity: 0.3;
          animation: spring-in 0.5s linear forwards;
        }
        @keyframes spring-in{
          100% {
            transform: translateY(0px);
            opacity: 1;
          }
        }
                
        .spring2 {
          opacity: 0;
           
        }
        .spring2.active {
          transform: translateY(160px);
          opacity: 0;
          animation: spring-in 0.5s linear forwards;
          animation-delay: 0.25s;
        }
        @keyframes spring-in{
          100% {
            transform: translateY(0px);
            opacity: 1;
          }
        }
        
        
        .spring3 {
          opacity: 0;
        }
        .spring3.active {
          transform: translateY(160px);
          opacity: 0;
          animation: spring-in 0.5s linear forwards;
          animation-delay: 0.65s;
        }
        @keyframes spring-in{
          100% {
            transform: translateY(0px);
            opacity: 1;
          }
        }
        
  
        .push {
          opacity: 0;
        }
        .push.active {
          transform: translateX(-160px);
          opacity: 0.3;
          animation: push-in 0.5s linear forwards;
        }
        @keyframes push-in{
          100% {
            transform: translateX(0px);
            opacity: 1;
          }
        }
        

        .pull {
          opacity: 0;
        }
        .pull.active {
          transform: translateX(160px);
          opacity: 0.3;
          animation: pullin 0.5s linear forwards;
        }
        @keyframes pullin{
          100% {
            transform: translateX(0px);
            opacity: 1;
          }
        }

        .reveal {
          opacity: 0;
        }
        .reveal.active {
          opacity: 0;
          animation: reveal-in 1.5s linear forwards;
        }
        
        @keyframes reveal-in{
          100% {
            opacity: 1;
          }
        }